<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectOxford.SpeechRecognition-x64" version="1.0.0.3" targetFramework="net45" />
  <package id="Speech.Engine" version="2.0.0.4" targetFramework="net45" />
  <package id="Syn.Speech" version="1.0.3" targetFramework="net45" />
</packages>